body {
    background-color: grey;
}

#threat-section {
    display: flexbox;
    flex-direction: row;
    background-color: darkgrey;
    height: 50%;
    width: 100%;
}

#threats {
    background-color: tomato;
    height: 45%;
    width: 45%;
}

#pie-chart {
    background-color: darkcyan;
    height: 45%;
    width: 45%;
}